@charset "UTF-8";

/*
    em HTML é id = em CSS é # (só pode um elemento)
    em HTML é class = em CSS é . (pode vários elementos) 
*/

body{
    background-color: rgb(185, 223, 197);
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    color: rgb(4, 109, 0);
}

h1#principal {
    text-align: center;
    background-color: green;
    color: white;
}

h2{
    color: rgb(73, 100, 71);
}

.basico{
    color: rgb(37, 88, 35);
}

.intermediario{
    color:rgb(109, 107, 0);
}

.avancado{
    color:rgb(109, 0, 0);
}

.destaque{
    background-color: rgba(190, 190, 76, 0.445);
}
